# Default values for database.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

# This is to override the chart name.
nameOverride: ""
fullnameOverride: ""

postgres:
  image: postgres:16-alpine
  pullPolicy: IfNotPresent
  storage: 1Gi
