global:
  domain: argocd.baris.cloud-ip.cc

server:
  service:
    type: ClusterIP

  ingress:
    enabled: true
    ingressClassName: traefik
    annotations:
      traefik.ingress.kubernetes.io/router.entrypoints: websecure
    tls: [ ]

configs:
  params:
    server.insecure: true
