replicaCount: 2

ingress:
  hosts:
    - host: api.baris.cloud-ip.cc
      paths:
        - path: /
          pathType: Prefix

  tls:
    - secretName: backend-prod-tls
      hosts:
        - api.baris.cloud-ip.cc
