# example age key
# created: 2025-12-27T16:29:09+01:00
# public key: age19fvcs2udlc5ucgvc5nvej468vrl34n0lahldgsne965z6f3cxcdsxffkr4
AGE-SECRET-KEY-19GPXU2TTZRK2K62ZHE8KSWXF8QNTZJKTNTVNDANA62JEZ03J30VQNZ04SL
